name: CD

on:
  workflow_dispatch:
    inputs:
      action:
        description: "Choose operation"
        required: true
        default: "deploy"
        type: choice
        options:
          - deploy
          - rollback
          - destroy

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: infra

      - name: Terraform Plan
        run: terraform plan -var-file=env/dev.tfvars
        working-directory: infra
        
      - name: Deploy Application
        if: inputs.action == 'deploy'
        run: terraform apply -auto-approve -var-file=env/dev.tfvars
        working-directory: infra
        
      - name: Rollback via Slot Swap
        if: inputs.action == 'rollback'
        run: |
            az webapp deployment slot swap \
            --resource-group ${{ env.RG_NAME }} \
            --name ${{ env.APP_NAME }} \
            --slot staging

  destroy:
    needs: deploy
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'destroy'

    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: hashicorp/setup-terraform@v3

      - run: terraform init
        working-directory: infra

      - run: terraform destroy -auto-approve -var-file=env/dev.tfvars
        working-directory: infra